In [ ]:
# Name : Sayyed Mudassar Iqbal Shakil Ahmed
# Batch : DSG2404
# Subject : Selenium Assignment Solution

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
#Answer 1:

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.naukri.com/')

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
location=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[3]/label/i")
location.click()

In [ ]:
salary=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[2]/label/i")
salary.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')

for i in title_tags:
    title=i.text
    job_title.append(title)
job_title

In [ ]:
print(len(job_title))

In [ ]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')

for i in location_tags:
    location=i.text
    job_location.append(location)


company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')

for i in company_tags:
    company=i.text
    company_name.append(company)
    

experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')

for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [ ]:
df=pd.DataFrame({'Titles':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

In [ ]:
df = df.iloc[:-10]
print (df)

In [ ]:
df

In [ ]:
driver.quit()

In [ ]:
#Answer 2:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.shine.com/')

In [ ]:
designation=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Analyst')

In [ ]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')

for i in title_tags:
    title=i.text
    job_title.append(title)
job_title

In [ ]:
location_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in location_tags:
    location=i.text
    job_location.append(location)


company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in company_tags:
    company=i.text
    company_name.append(company)
    

experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [ ]:
print (len(job_title),len(job_location),len(company_name),len(experience_required))

In [ ]:
df=pd.DataFrame({'Titles':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})

In [ ]:
df

In [ ]:
df = df.iloc[:-10]

In [ ]:
print (df)

In [ ]:
df

In [2]:
#Answer 3
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [4]:
rating=[]
review_summary=[]
full_review=[]

In [5]:
start=0
end=10
for page in range(start,end):
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in rating_tag:
        rating.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,'_9QVEpD')
    next_button.click()
    time.sleep(3)

In [6]:
print(len(rating))

100

In [7]:
start=0
end=10
for page in range(start,end):
    review_summary_tag=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in review_summary_tag:
        review_summary.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,'_9QVEpD')
    next_button.click()
    time.sleep(3)

In [8]:
start=0
end=10
for page in range(start,end):
    full_review_tag=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]/div/div')
    for i in full_review_tag:
        full_review.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,'_9QVEpD')
    next_button.click()
    time.sleep(3)

In [9]:
print (len(rating),len(review_summary),len(full_review))

100 100 100

In [10]:
df=pd.DataFrame({'Rating':rating,'Review_Summary':review_summary,'Full_Review':full_review})

In [11]:
df

,Rating,Review_Summary,Full_Review
0,5,Best in the market!,Good Camera
1,5,Terrific purchase,Value for money 😍
2,5,Worth every penny,Feeling awesome after getting the delivery of ...
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Just wow!,Perfect Product!!
...,...,...,...
95,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
96,5,Brilliant,Excellent Phone.
97,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
98,5,Best in the market!,Superbb performance n camera is awesome 😍😍
99,5,Excellent,NYC

In [2]:
#Answer 4
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.flipkart.com')

In [4]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys("sneakers")

In [5]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [6]:
Brand=[]
Product_Description=[]
Price=[]

In [7]:
start=0
end=3
for page in range(start,end):
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in brand_tag:
        Brand.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,'_9QVEpD')
    next_button.click()
    time.sleep(3)

In [8]:
print(len(Brand))

120

In [9]:
start=0
end=3
for page in range(start,end):
    product_description_tag=driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]/a[1]')
    for i in product_description_tag:
        Product_Description.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,'_9QVEpD')
    next_button.click()
    time.sleep(3)

In [10]:
start=0
end=3
for page in range(start,end):
    price_tag=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in price_tag:
        Price.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,'_9QVEpD')
    next_button.click()
    time.sleep(3)

In [12]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [13]:
df=pd.DataFrame({"BRAND":Brand,"PRODUCT":Product_Description,"PRICE":Price})
df

        BRAND                                            PRODUCT   PRICE
0      BRUTON                      Casual Shoes Sneakers For Men    ₹365
1          TR                  Sneakers For Men Sneakers For Men    ₹438
2    URBANBOX                        LEBRON 3.0 Sneakers For Men    ₹299
3    Red Tape                                   Sneakers For Men  ₹1,119
4    Red Tape                                 Sneakers For Women  ₹1,179
..        ...                                                ...     ...
115  Roadster                            casual Sneakers For Men    ₹899
116  RapidBox                     Puma Tychonic Sneakers For Men    ₹485
117    STALAG                      Puma Rock V1 Sneakers For Men  ₹1,079
118      ATOM                         Cliff IDP Sneakers For Men    ₹999
119    VENDOZ  Casual Sneaker Shoes For Men | Comfortable, Br...    ₹639

[120 rows x 3 columns]

In [14]:
df = df.iloc[:-20]

In [15]:
df

         BRAND                                            PRODUCT   PRICE
0       BRUTON                      Casual Shoes Sneakers For Men    ₹365
1           TR                  Sneakers For Men Sneakers For Men    ₹438
2     URBANBOX                        LEBRON 3.0 Sneakers For Men    ₹299
3     Red Tape                                   Sneakers For Men  ₹1,119
4     Red Tape                                 Sneakers For Women  ₹1,179
..         ...                                                ...     ...
95    Red Tape                                   Sneakers For Men  ₹1,769
96    RapidBox  ( by GO21 ) Soft Insole, Slip-Resistance|Casua...    ₹551
97      BRUTON                                   Sneakers For Men    ₹608
98    Red Tape                                   Sneakers For Men  ₹1,179
99  Dressberry  Sports Shoes for Men | Soft Cushioned Insole, ...    ₹999

[100 rows x 3 columns]

In [17]:
#Answer 5 
driver=webdriver.Chrome()

In [18]:
driver.get("https://www.amazon.in")

In [19]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [24]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [25]:
cpu=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[20]/span/span[11]/li/span/a/div/label/i')
cpu.click()

In [79]:
Products=[]
Ratings=[]
Price=[]

In [80]:
product_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in product_tag:
    Products.append(i.text)

In [81]:
print(len(Products))

24

In [82]:
ratings_tag=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]/i/span')
for i in ratings_tag:
    Ratings.append(i.text)

In [83]:
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_tag:
    Price.append(i.text)

In [84]:
print(len(Products),len(Ratings),len(Price))

24 24 24

In [85]:
df=pd.DataFrame({"Product":Products,"Rating":Ratings,"Prices":Price})

In [ ]:
df

In [3]:
#Answer 6
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.azquotes.com")

In [5]:
top=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]')
top.click()

In [21]:
Quote=[]
Author=[]
Type=[]

In [ ]:
start=0
end=10
for page in range(start,end):
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        Quote.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,'next')
    next_button.click()
    time.sleep(3)

In [23]:
print(len(Quote))

1000

In [ ]:
start=0
end=10
for page in range(start,end):
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag:
        Author.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,'next')
    next_button.click()
    time.sleep(3)

In [25]:
print(len(Author))

1000

In [ ]:
start=0
end=10
for page in range(start,end):
    type_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tag:
        Type.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,'next')
    next_button.click()
    time.sleep(3)

In [27]:
print(len(Type))

1000

In [28]:
df=pd.DataFrame({"Quote":Quote,"Author":Author,"Type":Type})

In [29]:
df

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [30]:
#Answer 7
driver=webdriver.Chrome()

In [31]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")

In [42]:
PM=[]
Born_Dead=[]
Term=[]
Remark=[]

In [43]:
pm_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[4]/div[7]/div[1]/table/tbody/tr[2]/td[2]/div/strong/a')

for i in pm_tags:
    pm=i.text
    PM.append(pm)
PM

#I spend 3 hours alone on this question, trying to figure out xpath or file name, nothing worked, will raise a ticekt for this one.

['Jawahar Lal Nehru']

In [2]:
#Answer 8
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.motor1.com/")

In [4]:
input=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
input.send_keys('50 most expensive cars')

In [5]:
search=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [6]:
cars=driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
cars.click()

In [7]:
Car_Name=[]
Price=[]

In [8]:
car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')

for i in car_tags:
    car=i.text
    Car_Name.append(car)

In [9]:
print(len(Car_Name))

51

In [10]:
Car_Name.pop()

'Most Expensive Cars In The World'

In [11]:
print(len(Car_Name))

50

In [12]:
price_tags=driver.find_elements(By.TAG_NAME,'strong')

for i in price_tags:
    price=i.text
    Price.append(price)

In [13]:
print(len(Price))

50

In [14]:
df=pd.DataFrame({"Car_Name":Car_Name,"Price":Price})

In [15]:
df

                                     Car_Name                        Price
0                           McLaren Senna GTR                 $1.7 Million
1                                 Czinger 21C          Price: $1.7 Million
2                               Ferrari Monza          Price: $1.7 Million
3                          Gordon Murray T.33          Price: $1.7 Million
4                           Koenigsegg Gemera          Price: $1.7 Million
5                          Hennessey Venom F5          Price: $1.8 Million
6                             Bentley Bacalar          Price: $1.9 Million
7               Hispano Suiza Carmen Boulogne          Price: $1.9 Million
8                      Bentley Mulliner Batur          Price: $2.0 Million
9                                 SSC Tuatara          Price: $2.0 Million
10                                Lotus Evija          Price: $2.1 Million
11                        Aston Martin Vulcan          Price: $2.3 Million
12                                 Delage D12          Price: $2.3 Million
13                        Ferrari Daytona SP3          Price: $2.3 Million
14                          McLaren Speedtail          Price: $2.3 Million
15                               Rimac Nevera          Price: $2.4 Million
16                              Pagani Utopia          Price: $2.5 Million
17                       Pininfarina Battista          Price: $2.5 Million
18                         Gordon Murray T.50          Price: $2.6 Million
19                       Lamborghini Countach          Price: $2.6 Million
20              Hennessey Venom F5 Revolution                 $2.7 Million
21                   Mercedes-AMG Project One          Price: $2.7 Million
22                               Zenvo Aurora          Price: $2.8 Million
23                        Aston Martin Victor          Price: $3.0 Million
24                Hennessey Venom F5 Roadster                 $3.0 Million
25                           Koenigsegg Jesko          Price: $3.0 Million
26                                 Aspark Owl                 $3.1 Million
27                      Aston Martin Valkyrie          Price: $3.2 Million
28                  W Motors Lykan Hypersport          Price: $3.4 Million
29                              McLaren Solus                 $3.5 Million
30                        Pagani Huayra Evo R          $3.5 Million (est.)
31                           Lamborghini Sian          Price: $3.6 million
32                           Koenigsegg CC850          Price: $3.7 Million
33            Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34  Gordon Murray Automotive T.50s Niki Lauda                 $3.9 Million
35                  Pagani Huayra Roadster BC                 $4.0 Million
36                         Lamborghini Veneno          Price: $4.5 Million
37                             Bugatti Bolide          Price: $4.7 Million
38                  Pininfarina B95 Speedster          Price: $4.8 Million
39                            Bugatti Mistral          Price: $5.0 Million
40                               Bugatti Divo          Price: $5.8 Million
41                        Pagani Huayra Imola                 $6.0 Million
42                           Pagani Codalunga          Price: $7.4 Million
43                   Mercedes-Maybach Exelero          Price: $8.0 Million
44                         Bugatti Centodieci          Price: $9.0 Million
45                    Bugatti Chiron Profilée         Price: $10.8 Million
46                       Rolls-Royce Sweptail         Price: $12.8 Million
47                   Bugatti La Voiture Noire         Price: $13.4 Million
48                      Rolls-Royce Boat Tail  Price: $28.0 Million (est.)
49         Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)